:root{
	--main-text-theme: #f0ad4e;
	--main-navbar: #112D32;
	--main-bg: #1A1A1D;
	--main-default-text: #EDF5E1;
}

a {
	color: inherit;
	text-decoration: inherit;
}
a:hover{
	text-decoration: inherit;
	color: inherit;
}


.text-theme{
	color: var(--main-text-theme);
}

.btn-theme{
	background-color: var(--main-text-theme);
}

/*All*/
html {
  scroll-behavior: smooth;
}


body {
	color: var(--main-default-text);
	background-color: var(--main-bg);
}


/*Misc*/
.logo{
	height: 32px;
	width: 32px;
}


.page-header {
	
}

.litline{
	border-bottom: solid #379683;
	width: 30px;
}



/*Navbar*/
#mainhead {
	background-color: var(--main-navbar);
	color: var(--main-text-theme);
}


.nav-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
}




.nav-item a{
	display: flex;
	flex-direction: row;
	align-items: center;
}


.jumbotron{
	color: #EDF5E1;
	background-color: #4E4E50;
}





/*PROFILE*/
#profile{

}


.bord {
	border: solid #282828;
	background-color: #4E4E50;
}

.thumbnailer{
	height: 240px;
	width: 240px;
}

/*FOOTER*/

footer {
	background-color: var(--main-navbar);
}

.alc{
	border-top: solid grey;
	font-size: 20px;
}



/*Forms*/
.form-inner{
max-width: 450px; 
background-color: rgba(0, 0, 0, 0.267);
}

.forms{
  background-color: rgb(46, 45, 45);
}


/*Dashboard*/
.profile-nav a{
	text-decoration: none !important;
	color: var(--main-text-theme);
}

.profile-nav a:hover{
	border-left: solid var(--main-text-theme);
	border-right: solid var(--main-text-theme);
	background-color: rgba(255, 255, 255, 0.05);
}

.active-nav{
	border-left: solid var(--main-text-theme);
	border-right: solid var(--main-text-theme);
	background-color: rgba(255, 255, 255, 0.1); 
}









